h1 {
    font-size: 65px;
    color: green;
    font-family: sans-serif;
    text-align: center;
    background-color: green;
}

body {
    background-color: rgb(142, 242, 255);
    font-family: serif;
    font-size: 16px;
}

ul {
    color: rgb(249, 255, 164);
    font-style: italic;
    line-height: 25px;
    text-decoration: underline;
    background-color: rgb(249, 255, 164);
}

p {
    color: yellow;
    font-weight: 600;
    font-size: 3em;
    background-color: yellow;
}

.paragraph-list{
   ;
}